<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>InstructureCon 2012 API Examples</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Canvas API Examples</a>
            <ul class="nav">
              <li><a href="/pagination">Pagination</a></li>
            </ul>
          </div>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
